# Format de connection string récupérable dans le dashboard Neon > Connection Details.
# attention, utiliser la version sans "-pooler" dans le host

[destination.postgres.credentials]
database = "neondb"
username = "your_neon_username"
password = "your_neon_password"
host = "your-project.neon.tech"
port = 5432

[destination.postgres.credentials.query]
sslmode = "require"